.treeview
{
   margin-right: 5px;
}

.treeview .tree
{
   display: none;
   padding: 0.5em 0 0;
}

.treeview .ygtvspacer
{
   display: block;
   width: 18px;
}

.treeview .ygtvchildren
{
   width: 100%;
}

.treeview .ygtvitem
{
   background-color: #ffffff;
   overflow-x: hidden;
}

.treeview .ygtvitem .folders-trimmed
{
   color: #f00;
}

.treeview .ygtvlabel,
.treeview .ygtvlabel:link,
.treeview .ygtvlabel:visited,
.treeview .ygtvlabel:hover
{
   background: none;
   color: #000;
   white-space: nowrap;
}

.treeview .selected
{
   background-color: #e1f0fa;
}

.treeview .ygtvtable
{
   border: 1px solid transparent;
}

.treeview .ygtvcontent
{
   padding-left: 2px;
   padding-bottom: 0px;
}

.treeview .documentDragOverHighlight
{
   border: 1px solid #4f94c9;
   background-color: #cde8fa;
   width: 100%;
}

.treeview .documentDragOverArrow
{
   background: url(../images/drop-arrow-left-small.png) no-repeat;
   z-index: 1;
   height: 25px;
   display: block;
   position: absolute;
   width: 25px;
   margin-top: -30px;
   margin-left: 10px;
}

.icon-drawing
{
   display: block;
   height: 22px;
   padding-left: 20px;
   background: transparent
   url(../../nexperia-drawing-share/components/documentlibrary/images/drawingSpace-16.png) 0 0px no-repeat;
}

.icon-drawingn
{
   width: 18px;
   height: 22px;
   background: url(../../nexperia-drawing-share/components/documentlibrary/images/drawingSpace-16.png) 0 0px no-repeat;
   cursor: pointer;
}

.icon-drawingm
{
   width: 18px;
   height: 22px;
   cursor: pointer;
   background: url(../../nexperia-drawing-share/components/documentlibrary/images/drawingSpace-16.png) 0 0px no-repeat;
}

.icon-drawingp{
   width: 18px;
   height: 22px;
   cursor: pointer;
   background: url(../../nexperia-drawing-share/components/documentlibrary/images/drawingSpace-16.png) 0 0px no-repeat;
}

.icon-smart-drawing
{
   display: block;
   height: 22px;
   padding-left: 20px;
   background: transparent
   url(../../nexperia-drawing-share/components/documentlibrary/images/smart-folder-16.png) 0 0px no-repeat;
}

.icon-smart-drawingn
{
   width: 18px;
   height: 22px;
   background: url(../../nexperia-drawing-share/components/documentlibrary/images/smart-folder-16.png) 0 0px no-repeat;
   cursor: pointer;
}

.icon-smart-drawingm
{
   width: 18px;
   height: 22px;
   cursor: pointer;
   background: url(../../nexperia-drawing-share/components/documentlibrary/images/smart-folder-16.png) 0 0px no-repeat;
}

.icon-smart-drawingp{
   width: 18px;
   height: 22px;
   cursor: pointer;
   background: url(../../nexperia-drawing-share/components/documentlibrary/images/smart-folder-16.png) 0 0px no-repeat;
}


